{% extends "devtrack/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{ object.project_parent }} - {{ object.category_name }}</h2>
    </div>
</div>
<h4>Features</h4>
<div class="row content-section">
    {% if object.feature_set.count == 0 %}
    <h5 class="col-md-6">You have not added features to this sprint yet</h5>
    {% else %}<div class="col-md-12">
        <p class='text-muted'>
            <ul class="list-group">
            {% for f in object.get_unresolved_instances %}
            <li class="list-group-item list-group-item-light">
                {% if f.priority == 1 %}
                <span class="badge badge-success mr-4">HIGH</span>
                {% elif f.priority == 2 %}
                <span class="badge badge-primary mr-4">MODERATE</span>
                {% elif f.priority == 3 %}
                <span class="badge badge-secondary mr-4">LOW</span>
                {% endif %}
                <a href="{% url 'feature-detail' f.id %}">{{ f.feature_name }}</a>
                {% if f.bug_set.count == 0 %}
                <button onclick="{{ f.resolve }}" class="btn btn-outline-success btn-sm float-right mr-4 mt-1 mb-1">resolve</button>
                {% else %}
                <p class="badge badge-danger float-right mr-4 mt-1 mb-1">{{ f.bug_set.count }} Issues</p>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </p>
    </div> 
    {% endif %}   
</div>
<h4>Resolved Features</h4>
<div class="row content-section">
    {% if object.feature_set.count > 0 %}
    <div class="col-md-12">
        <p class='text-muted'>
            <ul class="list-group">
            {% for f in object.get_resolved_instances %}
            <li class="list-group-item list-group-item-light">
                {% if f.priority == 1 %}
                <span class="badge badge-success mr-4">HIGH</span>
                {% elif f.priority == 2 %}
                <span class="badge badge-primary mr-4">MODERATE</span>
                {% elif f.priority == 3 %}
                <span class="badge badge-secondary mr-4">LOW</span>
                {% endif %}

                <a href="{% url 'feature-detail' f.id %}">{{ f.feature_name }}</a>
            </li>
            {% endfor %}
            </ul>
        </p>
    </div> 
    {% endif %}      
</div>
{% endblock content %}