{% extends "devtrack/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>{{ object.sprint_project }} - {{ object.sprint_name }}</h2>
    </div>
    <div class="col-md-4">
        <h5><a href="#" class="float-right btn btn-primary btn-sm"> change name</a></h5>
    </div>
</div>
<h4>{{ object.sprint_name }} - Progress</h4>
<div class="row content-section">
    {% if not object.start_date or not object.end_date %}
    <h5 class="col-md-6">You have not scheduled this sprint yet</h5>
    <a href="#" class="col-md-6 btn btn-primary btn-sm">Schedule Sprint</a>
    {% else %}
    <div class="col-md-8">
        <li class="list-group-item list-group-item-light">
            <div>
                <span class="badge badge-secondary">{{ object.feature_set.count }} features</span>
                <span class="badge badge-secondary">{{ object.get_all_progress }} in progress</span>
                <span class="badge badge-secondary">{{ object.get_all_resolved }} completed</span>
                <span class="badge badge-info">{{ object.get_all_issues }} issues</span>
            </div>
            <div class="progress mt-1">
                <div style="width:calc(({{ object.get_all_resolved }} / {{ object.feature_set.count }})*100%)" class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{ object.get_all_resolved }}" aria-valuemax="{{ object.feature_set.count }}" ></div>   
            </div>
        </li>
    </div>
    <div class="col-md-4">
        <li class="list-group-item list-group-item-light">
            {{ object.start_date }}
            <span class=" ml-4 badge badge-pill badge-primary">{{ s.days }} days remaining</span>
            <div class="progress mt-1">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </li>
    </div>
    {% endif %}
</div>
<h4>Features</h4>
<div class="row content-section">
    {% if object.feature_set.count == 0 %}
    <h5 class="col-md-6">You have not added features to this sprint yet</h5>
    <a href="{% url 'feature-add' object.id %}" class="col-md-6 btn btn-primary btn-sm">Add Features</a>
    {% else %}<div class="col-md-12">
        <a href="{% url 'feature-add' object.id %}" class="col-md-6 btn btn-primary btn-sm">Add Features</a>
        <p class='text-muted'>
            <ul class="list-group">
            {% for f in object.get_unresolved_instances %}
            <li class="list-group-item list-group-item-light">
                {% if f.priority == 1 %}
                <span class="badge badge-success mr-4">HIGH</span>
                {% elif f.priority == 2 %}
                <span class="badge badge-primary mr-4">MODERATE</span>
                {% elif f.priority == 3 %}
                <span class="badge badge-secondary mr-4">LOW</span>
                {% endif %}

                <a href="#" class="float-right ">remove</a>
                <a href="{% url 'feature-update' f.id %}" class="float-right  mr-4">update</a>
                <a href="{% url 'feature-detail' f.id %}">{{ f.feature_name }}</a>
                {% if f.bug_set.count == 0 %}
                <button type="submit" class="btn btn-outline-success btn-sm float-right mr-4">resolve</button>
                {% else %}
                <p class="badge badge-danger float-right mr-4 mt-1 mb-1">{{ f.bug_set.count }} Issues</p>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </p>
    </div> 
    {% endif %}
         
</div>
<h4>Resolved Features</h4>
<div class="row content-section">
    {% if object.feature_set.count > 0 %}
    <div class="col-md-12">
        <p class='text-muted'>
            <ul class="list-group">
            {% for f in object.get_resolved_instances %}
            <li class="list-group-item list-group-item-light">
                {% if f.priority == 1 %}
                <span class="badge badge-success mr-4">HIGH</span>
                {% elif f.priority == 2 %}
                <span class="badge badge-primary mr-4">MODERATE</span>
                {% elif f.priority == 3 %}
                <span class="badge badge-secondary mr-4">LOW</span>
                {% endif %}

                <a href="#" class="float-right ">remove</a>
                <a href="{% url 'feature-update' f.id %}" class="float-right  mr-4">update</a>
                <a href="{% url 'feature-detail' f.id %}">{{ f.feature_name }}</a>
                <p class="badge badge-success float-right mr-4 mt-1 mb-1">resolved</p>
            </li>
            {% endfor %}
            </ul>
        </p>
    </div> 
    {% endif %}   
</div>
{% endblock content %}